.class-outer {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.class-wrapper {
    width: 990px;
    margin: 0 20px;
}

.class-content-top {
    margin-top: 30px !important;
}

.class-content {
    margin-top: 75px;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.class-name-outer {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.class-name-content {
    padding: 10px 0;
    border: solid 1px white;
    width: 100%;
    margin: 5px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.class-name {
    font-size: 22px;
    color: white;
}

.class-content-info-outer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.class-content-info-left-outer {
    flex-basis: 48%;
}

.class-content-info-right-outer {
    flex-basis: 48%;
}

.class-content-info-right-wrapper {
    margin-top: 15px;
}

.class-img {
    width: 100%;
}

.class-age-outer {
    text-align: center;
}

.class-age-outer p {
    padding-top: 3px;
    padding-bottom: 9px;
}

.start-date-outer {
    text-align: center;
    background-color: #838383;
    width: 100%;
}

.start-date-outer p {
    color: white;
    padding: 8px;
}

.start-date-schedule-outer {
    background-color: white;
    width: 100%;
    text-align: center;
}

.start-date-schedule-outer p:first-child {
    padding-top: 5px;
}

.start-date-schedule-outer p:last-child {
    padding-bottom: 5px;
}

.start-date-schedule-acrobat-outer p {
    padding: 7px 0 !important;
}

.class-content-info-title {
    position:relative;
    margin-left: 12px;
    color: #666666;
}

.class-content-info-title:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 20px;
    position: absolute;
    top: 1px;
    left: -10px;
    border-radius: 10px;
}

.prekids-class-background:before {
    background-color: #e4007f;
}

.kids1-class-background:before {
    background-color: #f39800;
}

.kids2-class-background:before {
    background-color: #22ac38;
}

.junior-class-background:before {
    background-color: #e60012;
}

.acrobat-class-background:before {
    background-color: #00a0e9;
}

.class-description-outer {
    margin-top: 5px;
}

@media screen and (max-width: 800px) {
    .class-content-info-outer {
        flex-wrap: wrap;
    }

    .class-content-info-left-outer {
        flex-basis: auto;
    }

    .class-content-info-right-outer {
        margin-top: 15px;
        flex-basis: auto;
    }
}