<div class="header-outer">
    <div class="header-wrapper">
        <div class="header-pc">
            <div class="header-logo-outer">
                <img class="header-logo" src="img/icon.png">
            </div>
            <div class="header-menu-outer">
                <div class="header-menu-wrapper">
                    <div><p class="kosugi-maru-font">はじめての方へ</p></div>
                    <div><a href="/class_introduction.html"><p class="kosugi-maru-font">クラス紹介</p></a></div>
                    <div><p class="kosugi-maru-font">先生紹介</p></div>
                    <div><p class="kosugi-maru-font">入会について</p></div>
                </div>
            </div>
        </div>
        <div class="header-sp">
            <img class="header-sp-logo" src="img/icon.png">
            <div class="hamburger-menu-wrapper">
                <div class="menu-trigger" onclick="hamburgerMenu()">
                    <div class="menu-wrapper">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <nav>
                    <ul class="nav-menu-outer">
                        <li class="nav-menu-wrapper kosugi-maru-font"><a>トップ</a></li>
                        <div class="dashed-hr"></div>
                        <li class="nav-menu-wrapper kosugi-maru-font"><a>はじめての方へ</a></li>
                        <div class="dashed-hr"></div>
                        <li class="nav-menu-wrapper kosugi-maru-font"><a href="/class_introduction.html">クラス紹介</a></li>
                        <div class="dashed-hr"></div>
                        <li class="nav-menu-wrapper kosugi-maru-font"><a>先生紹介</a></li>
                        <div class="dashed-hr"></div>
                        <li class="nav-menu-wrapper kosugi-maru-font"><a>入会について</a></li>
                        <div class="dashed-hr"></div>
                    </ul>
                    <div class="header-sns-outer">
                        <div class="header-sns-wrapper">
                            <img class="header-sns-img" src="img/header/line.png">
                            <img class="header-sns-img" src="img/header/tiktok.png">
                            <img class="header-sns-img-youtube" src="img/header/youtube.png">
                            <img class="header-sns-img" src="img/header/instgram.png">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>